@media (min-width: 1005px) {
    .information {
        padding: 10px 10px;
        margin: 10px 10px;
        border: 1px solid black;
        max-width: 80%;
        width: 45%;
        float: left;
        display: block;
    }
    table {
        text-align: center;
        display: block;
        max-width: 80%;
        width: 50%;
        padding: 10px 10px;
        float: left;
        border-collapse: collapse;
    }
}
@media (max-width: 1005px) {
    .information {
        padding: 10px 10px;
        margin: 10px 10px;
        border: 1px solid black;
        max-width: 80%;
        float: left;
        display: block;
    }
    table {
        text-align: center;
        display: block;
        max-width: 80%;
        padding: 10px 10px;
        float: left;
        border-collapse: collapse;
    }
}
@media (max-width: 520px) {
    .information {
        padding: 10px 10px;
        margin: 10px 10px;
        border: 1px solid black;
        max-width: 80%;
        float: left;
        display: block;
    }
    table {
        text-align: center;
        display: block;
        max-width: 80%;
        padding: 10px 10px;
        float: left;
        border-collapse: collapse;
        font-size: 0.7em;
    }
}
@media (max-width: 370px) {
    .information {
        padding: 10px 10px;
        margin: 10px 10px;
        border: 1px solid black;
        max-width: 80%;
        float: left;
        display: block;
    }
    table {
        text-align: center;
        display: block;
        max-width: 80%;
        padding: 10px 10px;
        float: left;
        border-collapse: collapse;
        font-size: 0.5em;
    }
}
th, td, caption {
    border: 1px solid black;
}
caption {
    border-bottom: 0;
    background-color: white;
}
thead {
    background-color: #7ec4cf;
}
tbody > tr:nth-child(odd) {
    background-color: #d1cfe2;
}
tbody > tr:nth-child(even) {
    background-color: white;
}
tbody tr:hover {
    background-color: #d4afb9;
}