body {
    margin: 0 auto;
    padding: 0;
    background-color: #faedcb;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes header {
    50% {
        text-shadow: 0px 10px 25px white;
    }
}
header {
    background: -webkit-linear-gradient(left, #9cadce, #2a4d69);
    background: -moz-linear-gradient(left, #9cadce, #2a4d69);
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}
.headerimage {
    width: 334px;
    height: 100px;
}
h1 {
    color: white;
    animation: header 2s infinite;
}
.promotionalimage {
    max-width: 100%;
}
.headerimage{
    width: 334px;
    height: 100px;
}
nav {
    margin: 0 auto;
    padding-left: 20px;
    background: -webkit-linear-gradient(left, #6c4f75, #d4afb9);
    background: -moz-linear-gradient(left, #6c4f75, #d4afb9);
}
ul {
    padding: 0;
    margin: 0 auto;
}
li {
    display: inline;
}
li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    display: inline-block;
    color: lightblue;
}
li a:hover {
    background-color: black;
}
li a:active {
    text-decoration: underline;
}
li a:visited {
    color: white;
}
@media (max-width: 455px) {
    li a  {
        font-size: 0.7em;
    }
}
footer {
    background-color: #9cadce;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    color: white;
    position: relative;
    clear: both;
}
footer img {
    width: 260px;
    height: 40px;
}
footer a {
    text-decoration: none;
    color: white;
}
span {
    font-weight: bold;
    font-style: italic;
}
span:hover {
    text-decoration: underline;
}