body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}
header img {
    width: 334px;
    height: 100px;
}
h1 {
    color: black;
}
nav, .applywelcome, .apply, .technologyzone, .innovationzone, .ecologyzone {
    display: none;
}
.resulting {
    padding: 10px 10px;
}
table {
    position: relative;
    clear: both;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid black;
    padding: 5px 5px;
}
.resulting button {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 8px;
}
footer {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    color: black;
}
footer img {
    width: 260px;
    height: 40px;
}
footer a {
    text-decoration: none;
}
span {
    font-weight: bold;
    font-style: italic;
    color: black;
}