@media (min-width: 820px) {
    .address p {
        font-size: 1em;
    }
}
@media (max-width: 820px) {
    .address p {
        font-size: 0.8em;
    }
}
@media (max-width: 670px) {
    .address p {
        font-size: 0.6em;
    }
}
@media (max-width: 515px) {
    .address p {
        font-size: 0.3em;
    }
}
@media (min-width: 1175px) {
    #forms {
        text-align: center;
        padding-right: 75%;
    }
    fieldset p {
        text-align: center;
    }
}
@media (max-width: 1175px) {
    #forms {
        text-align: center;
        padding-right: 65%;
    }
    fieldset p {
        text-align: center;
    }
}
@media (max-width: 855px) {
    #forms {
        text-align: center;
        padding-right: 55%;
    }
    fieldset p {
        text-align: center;
    }
}
@media (max-width: 670px) {
    #forms {
        text-align: center;
        padding-right: 40%;
    }
    fieldset p {
        text-align: center;
    }
}
@media (max-width: 550px) {
    #forms {
        text-align: center;
        padding-right: 20%;
    }
    fieldset p {
        text-align: center;
    }
}
.location img {
    width: 700px;
    height: 700px;
    float: left;
    display: block;
    max-width: 50%;
    height: auto;
}
.address {
    display: block;
    float: left;
    padding-left: 10px;
}
.visitwelcome {
    display: block;
    background-color:#d1cfe2;
    padding: 10px 10px;
}
.location {
    padding: 10px 10px;
    display: block;
}
.reservation h2 {
    text-align: center;
}
.reservation {
    padding: 10px 10px;
    position: relative;
    clear: both;
}
button {
    float: left;
    margin-right: 5px;
}
legend {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}